## Was there a significant change in UK household food consumption in 2019 versus previous years?

Data: Quantity of food and drink purchased for UK households. Averages per person per week

In [224]:
import pandas as pd
import numpy as np

In [225]:
raw_data=pd.read_csv('/Users/devirughani/Desktop/IronHack/Week_5/data-files/household_consumption_quantities.csv')

In [226]:
raw_data

,Code,Food Category,Food Group,Major Food Code,Minor Food Code,Units,1974,1975,1976,1977,...,2011,2012,2013,2014,2015,201516,201617,201718,201819,201920
0,cat520,Milk and milk products excluding cheese,NaN,NaN,NaN,ml,2978.0,2987.0,2961.0,2855.0,...,"1,904","1,901","1,847","1,849","1,827","1,807","1,818","1,786","1,840","1,746"
1,4006,NaN,"Liquid wholemilk, including school and welfare",NaN,NaN,ml,2687.0,2715.0,2679.0,2579.0,...,355,297,285,263,312,317,300,297,329,302
2,4,NaN,NaN,"Liquid wholemilk, full price",NaN,ml,2655.0,2686.0,2655.0,2553.0,...,355,297,285,263,312,317,300,297,329,302
3,402,NaN,NaN,NaN,UHT milk,ml,27.0,27.0,27.0,26.0,...,4,3,3,3,5,5,2,7,5,3
4,403,NaN,NaN,NaN,Sterilised,ml,133.0,134.0,133.0,128.0,...,2,2,1,2,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,385,NaN,NaN,Spirits with mixer,NaN,ml,NaN,NaN,NaN,NaN,...,1,1,1,2,2,2,2,3,4,5
333,386,NaN,NaN,Fortified wines,NaN,ml,NaN,NaN,NaN,NaN,...,10,8,8,8,7,8,7,7,5,7
334,387,NaN,NaN,Spirits,NaN,ml,NaN,NaN,NaN,NaN,...,31,34,30,33,31,31,33,37,36,39
335,388,NaN,NaN,Liqueurs and cocktails,NaN,ml,NaN,NaN,NaN,NaN,...,6,6,6,8,9,9,8,9,7,7
336,389,NaN,NaN,Alcopops,NaN,ml,NaN,NaN,NaN,NaN,...,9,8,5,6,5,5,4,5,2,2

In [227]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Code             336 non-null    object
 1   Food Category    11 non-null     object
 2   Food Group       23 non-null     object
 3   Major Food Code  169 non-null    object
 4   Minor Food Code  134 non-null    object
 5   Units            337 non-null    object
 6   1974             291 non-null    float64
 7   1975             291 non-null    float64
 8   1976             291 non-null    float64
 9   1977             291 non-null    float64
 10  1978             291 non-null    float64
 11  1979             291 non-null    float64
 12  1980             291 non-null    float64
 13  1981             291 non-null    float64
 14  1982             291 non-null    float64
 15  1983             292 non-null    float64
 16  1984             292 non-null    float64
 17  1985             292 non-null    float64
 18  1986             292 non-null    float64
 19  1987             292 non-null    float64
 20  1988             292 non-null    float64
 21  1989             292 non-null    float64
 22  1990             292 non-null    float64
 23  1991             292 non-null    float64
 24  1992             322 non-null    float64
 25  1993             322 non-null    float64
 26  1994             322 non-null    float64
 27  1995             323 non-null    float64
 28  1996             323 non-null    float64
 29  1997             323 non-null    float64
 30  1998             324 non-null    float64
 31  1999             326 non-null    float64
 32  2000             326 non-null    float64
 33  2001-02          333 non-null    float64
 34  2002-03          335 non-null    float64
 35  2003-04          335 non-null    float64
 36  2004-05          336 non-null    float64
 37  2005-06          336 non-null    object
 38  2006             336 non-null    object
 39  2007             336 non-null    object
 40  2008             336 non-null    object
 41  2009             336 non-null    object
 42  2010             335 non-null    object
 43  2011             335 non-null    object
 44  2012             335 non-null    object
 45  2013             335 non-null    object
 46  2014             335 non-null    object
 47  2015             335 non-null    object
 48  201516           335 non-null    object
 49  201617           335 non-null    object
 50  201718           335 non-null    object
 51  201819           335 non-null    object
 52  201920           335 non-null    object
dtypes: float64(31), object(22)
memory usage: 139.7+ KB

In [228]:
print(raw_data.dtypes)

Code                object
Food Category       object
Food Group          object
Major Food Code     object
Minor Food Code     object
Units               object
1974               float64
1975               float64
1976               float64
1977               float64
1978               float64
1979               float64
1980               float64
1981               float64
1982               float64
1983               float64
1984               float64
1985               float64
1986               float64
1987               float64
1988               float64
1989               float64
1990               float64
1991               float64
1992               float64
1993               float64
1994               float64
1995               float64
1996               float64
1997               float64
1998               float64
1999               float64
2000               float64
2001-02            float64
2002-03            float64
2003-04            float64
2004-05            float64
2005-06             object
2006                object
2007                object
2008                object
2009                object
2010                object
2011                object
2012                object
2013                object
2014                object
2015                object
201516              object
201617              object
201718              object
201819              object
201920              object
dtype: object

 Firstly, clean the years names and make them numerical

In [229]:
#Clean Years

raw_data=raw_data.rename({ "2001-02": "2001", "2002-03": "2002", "2003-04": "2003", "2004-05": "2004", "2005-06": "2005", "201516": "2016", "201617": "2017", "201718": "2018", "201819":"2019", "201920":"2020"}, axis=1)



all_years = raw_data.iloc[:, 6:54]
all_years = all_years.replace(',','', regex=True)
all_years= all_years.apply(pd.to_numeric, errors='coerce')
all_years = all_years.round().astype('Int64')


all_years

,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,2978,2987,2961,2855,2809,2765,2687,2612,2578,2522,...,1904,1901,1847,1849,1827,1807,1818,1786,1840,1746
1,2687,2715,2679,2579,2523,2450,2371,2287,2258,2172,...,355,297,285,263,312,317,300,297,329,302
2,2655,2686,2655,2553,2499,2424,2349,2258,2232,2127,...,355,297,285,263,312,317,300,297,329,302
3,27,27,27,26,25,24,23,23,22,21,...,4,3,3,3,5,5,2,7,5,3
4,133,134,133,128,125,121,117,113,112,106,...,2,2,1,2,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,1,1,1,2,2,2,2,3,4,5
333,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,10,8,8,8,7,8,7,7,5,7
334,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,31,34,30,33,31,31,33,37,36,39
335,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,6,6,6,8,9,9,8,9,7,7
336,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,9,8,5,6,5,5,4,5,2,2

In [230]:
#Only interested in last 10 years
N=10
last_10_years=all_years.iloc[: , -N:]

last_10_years

     2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
0    1904  1901  1847  1849  1827  1807  1818  1786  1840  1746
1     355   297   285   263   312   317   300   297   329   302
2     355   297   285   263   312   317   300   297   329   302
3       4     3     3     3     5     5     2     7     5     3
4       2     2     1     2     1     1     0     1     0     0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
332     1     1     1     2     2     2     2     3     4     5
333    10     8     8     8     7     8     7     7     5     7
334    31    34    30    33    31    31    33    37    36    39
335     6     6     6     8     9     9     8     9     7     7
336     9     8     5     6     5     5     4     5     2     2

[337 rows x 10 columns]

In [231]:
#Check for NA's. Makes sense to fill them with 0.
last_10_years.isna().sum()
last_10_years=last_10_years.fillna(0)

#print(last_10_years.isna().sum())

In [232]:
#Add Food Code

food_code_column = raw_data["Code"]

last_10_years = pd.concat([last_10_years,food_code_column], axis = 1)

food_code_col_name="Code"
first_col_all_years = last_10_years.pop("Code")
last_10_years.insert(0, food_code_col_name, first_col_all_years )

In [233]:
#Add units

#Add Units column

units_column = raw_data["Units"]
last_10_years = pd.concat([last_10_years,units_column], axis = 1)

units_column_name="Units"
sec_col_all_years = last_10_years.pop("Units")
last_10_years.insert(1, units_column_name, sec_col_all_years )
last_10_years

       Code Units  2011  2012  2013  2014  2015  2016  2017  2018  2019  2020
0    cat520    ml  1904  1901  1847  1849  1827  1807  1818  1786  1840  1746
1      4006    ml   355   297   285   263   312   317   300   297   329   302
2         4    ml   355   297   285   263   312   317   300   297   329   302
3       402    ml     4     3     3     3     5     5     2     7     5     3
4       403    ml     2     2     1     2     1     1     0     1     0     0
..      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
332     385    ml     1     1     1     2     2     2     2     3     4     5
333     386    ml    10     8     8     8     7     8     7     7     5     7
334     387    ml    31    34    30    33    31    31    33    37    36    39
335     388    ml     6     6     6     8     9     9     8     9     7     7
336     389    ml     9     8     5     6     5     5     4     5     2     2

[337 rows x 12 columns]

In [234]:
raw_food_groups=raw_data.iloc[:, 0:5]
raw_food_groups

,Code,Food Category,Food Group,Major Food Code,Minor Food Code
0,cat520,Milk and milk products excluding cheese,NaN,NaN,NaN
1,4006,NaN,"Liquid wholemilk, including school and welfare",NaN,NaN
2,4,NaN,NaN,"Liquid wholemilk, full price",NaN
3,402,NaN,NaN,NaN,UHT milk
4,403,NaN,NaN,NaN,Sterilised
...,...,...,...,...,...
332,385,NaN,NaN,Spirits with mixer,NaN
333,386,NaN,NaN,Fortified wines,NaN
334,387,NaN,NaN,Spirits,NaN
335,388,NaN,NaN,Liqueurs and cocktails,NaN
336,389,NaN,NaN,Alcopops,NaN

In [235]:
#Keep only high level food categories

key_food_groups=raw_food_groups.dropna(subset=['Food Category', 'Food Group'], how='all').drop(columns=["Major Food Code", "Minor Food Code"])
key_food_groups

,Code,Food Category,Food Group
0,cat520,Milk and milk products excluding cheese,NaN
1,4006,NaN,"Liquid wholemilk, including school and welfare"
8,9017,NaN,Other milk and cream
26,22023,NaN,Cheese
34,31041,NaN,Carcase meat
52,46095,NaN,Non-carcase meat and meat products
95,100123,NaN,Fish
117,129129,NaN,Eggs
118,135148,NaN,Fats
132,150154,NaN,Sugar and preserves
138,NaN,"Fresh and processed fruit and vegetables, incl...",NaN
139,cat730,"Fresh and processed vegetables, including pota...",NaN
140,cat701,Fresh and processed potatoes,NaN
145,cat710,Processed potatoes,NaN
153,cat811,"Fresh and processed fruit and vegetables, excl...",NaN
154,cat720,"Fresh and processed vegetables, excluding pota...",NaN
155,162171,NaN,Fresh green vegetables
165,172183,NaN,Other fresh vegetables
178,cat702,Processed vegetables excluding processed potatoes,NaN
196,cat810,Fresh and processed fruit,NaN
197,210231,NaN,Fresh fruit
208,233248,NaN,Processed fruit and fruit products
217,251263,NaN,Bread
218,cat850,White bread,NaN
223,cat851,Brown and wholemeal bread,NaN
235,264264,NaN,Flour
236,267270,NaN,"Cakes, buns and pastries"
241,271277,NaN,Biscuits and crispbreads
247,281301,NaN,Other cereals and cereal products
279,304313,NaN,Beverages
287,314339,NaN,Other food and drink
311,303,NaN,Soft drinks
316,350355,NaN,Confectionery
325,380389,NaN,Alcoholic drinks

In [236]:
# Make Food Catefories one column. np.where(condition, if true, if false)
key_food_groups['Food Category'] = np.where(key_food_groups['Food Category'].isna(),key_food_groups['Food Group'], key_food_groups['Food Category'])
key_food_groups=key_food_groups.drop(key_food_groups.columns[2], axis=1)
key_food_groups

       Code                                      Food Category
0    cat520            Milk and milk products excluding cheese
1      4006     Liquid wholemilk, including school and welfare
8      9017                               Other milk and cream
26    22023                                             Cheese
34    31041                                       Carcase meat
52    46095                 Non-carcase meat and meat products
95   100123                                               Fish
117  129129                                               Eggs
118  135148                                               Fats
132  150154                                Sugar and preserves
138     NaN  Fresh and processed fruit and vegetables, incl...
139  cat730  Fresh and processed vegetables, including pota...
140  cat701                       Fresh and processed potatoes
145  cat710                                 Processed potatoes
153  cat811  Fresh and processed fruit and vegetables, excl...
154  cat720  Fresh and processed vegetables, excluding pota...
155  162171                             Fresh green vegetables
165  172183                             Other fresh vegetables
178  cat702  Processed vegetables excluding processed potatoes
196  cat810                          Fresh and processed fruit
197  210231                                        Fresh fruit
208  233248                 Processed fruit and fruit products
217  251263                                              Bread
218  cat850                                        White bread
223  cat851                          Brown and wholemeal bread
235  264264                                              Flour
236  267270                           Cakes, buns and pastries
241  271277                           Biscuits and crispbreads
247  281301                  Other cereals and cereal products
279  304313                                          Beverages
287  314339                               Other food and drink
311     303                                        Soft drinks
316  350355                                      Confectionery
325  380389                                   Alcoholic drinks

In [237]:
#Remove smaller food groups from this list
remove_group_codes=["4006","9017","NaN","cat811","162171","172183","cat702","cat730", "cat810", "251263"]
remove_group_codes
key_food_groups=key_food_groups[~key_food_groups['Code'].isin(remove_group_codes)].fillna('missing code')

key_food_groups
#If time! Give the codes all category or minor category labels. Definitely replace the NaN
#Add clearer Food Cat labels if time

             Code                                      Food Category
0          cat520            Milk and milk products excluding cheese
26          22023                                             Cheese
34          31041                                       Carcase meat
52          46095                 Non-carcase meat and meat products
95         100123                                               Fish
117        129129                                               Eggs
118        135148                                               Fats
132        150154                                Sugar and preserves
138  missing code  Fresh and processed fruit and vegetables, incl...
140        cat701                       Fresh and processed potatoes
145        cat710                                 Processed potatoes
154        cat720  Fresh and processed vegetables, excluding pota...
197        210231                                        Fresh fruit
208        233248                 Processed fruit and fruit products
218        cat850                                        White bread
223        cat851                          Brown and wholemeal bread
235        264264                                              Flour
236        267270                           Cakes, buns and pastries
241        271277                           Biscuits and crispbreads
247        281301                  Other cereals and cereal products
279        304313                                          Beverages
287        314339                               Other food and drink
311           303                                        Soft drinks
316        350355                                      Confectionery
325        380389                                   Alcoholic drinks

In [238]:
#Merge food categories and years
household_food_consumption_clean=key_food_groups.merge(last_10_years, left_on='Code', right_on='Code', how='inner')
household_food_consumption_clean.sort_values(by=['2020', '2019'], ascending=False).reset_index(inplace=True)
household_food_consumption_clean

,Code,Food Category,Units,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,cat520,Milk and milk products excluding cheese,ml,1904,1901,1847,1849,1827,1807,1818,1786,1840,1746
1,22023,Cheese,g,118,114,118,111,112,115,124,125,123,129
2,31041,Carcase meat,g,204,196,182,195,187,192,175,182,168,170
3,46095,Non-carcase meat and meat products,g,794,793,766,760,742,745,778,775,794,779
4,100123,Fish,g,147,144,146,144,146,144,139,139,146,148
5,129129,Eggs,no.,2,2,2,2,2,2,2,2,2,2
6,135148,Fats,g,170,178,171,158,162,162,139,158,161,158
7,150154,Sugar and preserves,g,126,124,123,109,106,107,107,99,93,87
8,cat701,Fresh and processed potatoes,g,746,724,682,671,675,675,634,669,620,612
9,cat710,Processed potatoes,g,250,246,242,240,246,247,239,248,241,256
10,cat720,"Fresh and processed vegetables, excluding pota...",g,1090,1086,1102,1080,1103,1117,1137,1134,1139,1147
11,210231,Fresh fruit,g,764,744,744,766,773,780,814,784,787,767
12,233248,Processed fruit and fruit products,g,385,362,370,330,319,313,316,312,319,312
13,cat850,White bread,g,259,266,247,222,221,222,199,202,198,194
14,cat851,Brown and wholemeal bread,g,175,158,156,150,143,143,150,136,137,133
15,264264,Flour,g,71,73,57,52,61,63,55,75,48,54
16,267270,"Cakes, buns and pastries",g,151,149,150,147,155,154,150,159,151,163
17,271277,Biscuits and crispbreads,g,164,160,165,162,164,166,169,160,159,173
18,281301,Other cereals and cereal products,g,547,542,549,560,566,565,562,582,589,607
19,304313,Beverages,g,53,53,52,52,53,53,54,49,52,56
20,314339,Other food and drink,g,726,776,778,787,815,829,855,884,1000,934
21,303,Soft drinks,ml,1630,1633,1664,1546,1531,1522,1608,1508,1642,1658
22,350355,Confectionery,g,134,126,128,130,132,134,130,137,136,144
23,380389,Alcoholic drinks,ml,728,700,694,675,678,675,712,728,712,728

In [239]:
(household_food_consumption_clean.iloc[1,1] in ['Cheese'])

True

In [240]:
for row in range(household_food_consumption_clean.shape[0]):
    if (household_food_consumption_clean.iloc[row,1] in ['Milk and milk products excluding cheese'])==True:
         household_food_consumption_clean['Main Group'] = "Milk products exc. cheese"
household_food_consumption_clean

,Code,Food Category,Units,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Main Group
0,cat520,Milk and milk products excluding cheese,ml,1904,1901,1847,1849,1827,1807,1818,1786,1840,1746,Milk products exc. cheese
1,22023,Cheese,g,118,114,118,111,112,115,124,125,123,129,Milk products exc. cheese
2,31041,Carcase meat,g,204,196,182,195,187,192,175,182,168,170,Milk products exc. cheese
3,46095,Non-carcase meat and meat products,g,794,793,766,760,742,745,778,775,794,779,Milk products exc. cheese
4,100123,Fish,g,147,144,146,144,146,144,139,139,146,148,Milk products exc. cheese
5,129129,Eggs,no.,2,2,2,2,2,2,2,2,2,2,Milk products exc. cheese
6,135148,Fats,g,170,178,171,158,162,162,139,158,161,158,Milk products exc. cheese
7,150154,Sugar and preserves,g,126,124,123,109,106,107,107,99,93,87,Milk products exc. cheese
8,cat701,Fresh and processed potatoes,g,746,724,682,671,675,675,634,669,620,612,Milk products exc. cheese
9,cat710,Processed potatoes,g,250,246,242,240,246,247,239,248,241,256,Milk products exc. cheese
10,cat720,"Fresh and processed vegetables, excluding pota...",g,1090,1086,1102,1080,1103,1117,1137,1134,1139,1147,Milk products exc. cheese
11,210231,Fresh fruit,g,764,744,744,766,773,780,814,784,787,767,Milk products exc. cheese
12,233248,Processed fruit and fruit products,g,385,362,370,330,319,313,316,312,319,312,Milk products exc. cheese
13,cat850,White bread,g,259,266,247,222,221,222,199,202,198,194,Milk products exc. cheese
14,cat851,Brown and wholemeal bread,g,175,158,156,150,143,143,150,136,137,133,Milk products exc. cheese
15,264264,Flour,g,71,73,57,52,61,63,55,75,48,54,Milk products exc. cheese
16,267270,"Cakes, buns and pastries",g,151,149,150,147,155,154,150,159,151,163,Milk products exc. cheese
17,271277,Biscuits and crispbreads,g,164,160,165,162,164,166,169,160,159,173,Milk products exc. cheese
18,281301,Other cereals and cereal products,g,547,542,549,560,566,565,562,582,589,607,Milk products exc. cheese
19,304313,Beverages,g,53,53,52,52,53,53,54,49,52,56,Milk products exc. cheese
20,314339,Other food and drink,g,726,776,778,787,815,829,855,884,1000,934,Milk products exc. cheese
21,303,Soft drinks,ml,1630,1633,1664,1546,1531,1522,1608,1508,1642,1658,Milk products exc. cheese
22,350355,Confectionery,g,134,126,128,130,132,134,130,137,136,144,Milk products exc. cheese
23,380389,Alcoholic drinks,ml,728,700,694,675,678,675,712,728,712,728,Milk products exc. cheese

In [241]:
def clean_categories(x):
    if (x in ['Milk and milk products excluding cheese']):
        return "Milk products exc. cheese"
    elif (x in ['Cheese']):
        return "Cheese"
    elif (x in ['Carcase meat','Non-carcase meat and meat products']):
        return "Meat"
    elif (x in ['Fish']):
        return "Fish"
    elif (x in ['Eggs']):
        return "Eggs"
    elif (x in ['Fats']):
        return "Fats"
    elif (x in ['Sugar and preserves']):
        return "Sugar and preserves"
    elif (x in ['Fresh and processed potatoes','Processed potatoes']):
        return "Potatoes"
    elif (x in ['Fresh and processed vegetables, excluding potatoes']):
        return "Vegetables exc. Potatoes"
    elif (x in ['Fresh fruit','Processed fruit and fruit products']):
        return "Fruit"
    elif (x in ['White bread','Brown and wholemeal bread']):
        return "Bread"
    elif (x in ['Flour']):
        return "Flour"
    elif (x in ['Cakes, buns and pastries']):
        return "Cakes, buns and pastries"
    elif (x in ['Biscuits and crispbreads']):
        return "Biscuits"
    elif (x in ['Other cereals and cereal products']):
        return "Other cereals and cereal products"
    elif (x in ['Beverages']):
        return "Tea and Coffee"
    elif (x in ['Other food and drink']):
        return "Other food and drink"
    elif (x in ['Soft drinks']):
        return "Soft drinks"
    elif (x in ['Confectionery']):
        return "Confectionery"
    elif (x in ['Alcoholic drinks']):
        return "Alcoholic drinks"
    else: return "Minor food group"

In [242]:
household_food_consumption_clean['Main Group'] = household_food_consumption_clean['Food Category'].apply(clean_categories)

main_group_col = household_food_consumption_clean.pop("Main Group")
household_food_consumption_clean.insert(1, "Main Group", main_group_col)
#.drop(key_food_groups.columns[2], axis=1)
household_food_consumption_clean=household_food_consumption_clean.drop(['Code'], axis=1)

household_food_consumption_clean

,Main Group,Food Category,Units,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Milk products exc. cheese,Milk and milk products excluding cheese,ml,1904,1901,1847,1849,1827,1807,1818,1786,1840,1746
1,Cheese,Cheese,g,118,114,118,111,112,115,124,125,123,129
2,Meat,Carcase meat,g,204,196,182,195,187,192,175,182,168,170
3,Meat,Non-carcase meat and meat products,g,794,793,766,760,742,745,778,775,794,779
4,Fish,Fish,g,147,144,146,144,146,144,139,139,146,148
5,Eggs,Eggs,no.,2,2,2,2,2,2,2,2,2,2
6,Fats,Fats,g,170,178,171,158,162,162,139,158,161,158
7,Sugar and preserves,Sugar and preserves,g,126,124,123,109,106,107,107,99,93,87
8,Potatoes,Fresh and processed potatoes,g,746,724,682,671,675,675,634,669,620,612
9,Potatoes,Processed potatoes,g,250,246,242,240,246,247,239,248,241,256
10,Vegetables exc. Potatoes,"Fresh and processed vegetables, excluding pota...",g,1090,1086,1102,1080,1103,1117,1137,1134,1139,1147
11,Fruit,Fresh fruit,g,764,744,744,766,773,780,814,784,787,767
12,Fruit,Processed fruit and fruit products,g,385,362,370,330,319,313,316,312,319,312
13,Bread,White bread,g,259,266,247,222,221,222,199,202,198,194
14,Bread,Brown and wholemeal bread,g,175,158,156,150,143,143,150,136,137,133
15,Flour,Flour,g,71,73,57,52,61,63,55,75,48,54
16,"Cakes, buns and pastries","Cakes, buns and pastries",g,151,149,150,147,155,154,150,159,151,163
17,Biscuits,Biscuits and crispbreads,g,164,160,165,162,164,166,169,160,159,173
18,Other cereals and cereal products,Other cereals and cereal products,g,547,542,549,560,566,565,562,582,589,607
19,Tea and Coffee,Beverages,g,53,53,52,52,53,53,54,49,52,56
20,Other food and drink,Other food and drink,g,726,776,778,787,815,829,855,884,1000,934
21,Soft drinks,Soft drinks,ml,1630,1633,1664,1546,1531,1522,1608,1508,1642,1658
22,Confectionery,Confectionery,g,134,126,128,130,132,134,130,137,136,144
23,Alcoholic drinks,Alcoholic drinks,ml,728,700,694,675,678,675,712,728,712,728

In [249]:
melted = household_food_consumption_clean.melt(id_vars=['Main Group','Food Category'],
                                      value_vars = ['2011','2012','2013','2014','2015','2016',
                                                    '2017','2018','2019','2020']).rename(columns={'variable':'year'})
melted.to_csv("melted.csv",index= False)

In [250]:
#Finish this by creating a preprocessing function for all of the above

In [251]:
aggregated_high_level=household_food_consumption_clean.groupby(['Main Group','Units']).agg(sum).sort_values(by=['2020', '2019'], ascending=False)
aggregated_high_level

,,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Main Group,Units,,,,,,,,,,
Milk products exc. cheese,ml,1904,1901,1847,1849,1827,1807,1818,1786,1840,1746
Soft drinks,ml,1630,1633,1664,1546,1531,1522,1608,1508,1642,1658
Vegetables exc. Potatoes,g,1090,1086,1102,1080,1103,1117,1137,1134,1139,1147
Fruit,g,1149,1106,1114,1096,1092,1093,1130,1096,1106,1079
Meat,g,998,989,948,955,929,937,953,957,962,949
Other food and drink,g,726,776,778,787,815,829,855,884,1000,934
Potatoes,g,996,970,924,911,921,922,873,917,861,868
Alcoholic drinks,ml,728,700,694,675,678,675,712,728,712,728
Other cereals and cereal products,g,547,542,549,560,566,565,562,582,589,607
Bread,g,434,424,403,372,364,365,349,338,335,327
Biscuits,g,164,160,165,162,164,166,169,160,159,173
"Cakes, buns and pastries",g,151,149,150,147,155,154,150,159,151,163
Fats,g,170,178,171,158,162,162,139,158,161,158
Fish,g,147,144,146,144,146,144,139,139,146,148
Confectionery,g,134,126,128,130,132,134,130,137,136,144
Cheese,g,118,114,118,111,112,115,124,125,123,129
Sugar and preserves,g,126,124,123,109,106,107,107,99,93,87
Tea and Coffee,g,53,53,52,52,53,53,54,49,52,56
Flour,g,71,73,57,52,61,63,55,75,48,54
Eggs,no.,2,2,2,2,2,2,2,2,2,2

In [244]:
#Save 2 csv's
household_food_consumption_clean.to_csv('household_food_consumption_clean.csv', index=False)
aggregated_high_level.to_csv('aggregated_high_level.csv', index=True)